@layer tailwind-base, antd;
@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;
.colorWeak {
  filter: invert(80%);
}
.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}
canvas {
  display: block;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,
ol {
  list-style: none;
}
@media (max-width: 768px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > th,
  .ant-table-thead > tr > td,
  .ant-table-tbody > tr > td {
    white-space: pre;
  }
  .ant-table-thead > tr > th > span,
  .ant-table-tbody > tr > th > span,
  .ant-table-thead > tr > td > span,
  .ant-table-tbody > tr > td > span {
    display: block;
  }
}
/* width */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* Track */
*::-webkit-scrollbar-track {
  border-radius: 999px;
}
*::-webkit-scrollbar-thumb {
  background: #a7a7a7;
  border-radius: 999px;
  visibility: hidden !important;
}
*:hover::-webkit-scrollbar-thumb {
  visibility: visible !important;
}
.custom-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  height: 40px;
}
.custom-marker .img-marker {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
}
.custom-marker .title-marker {
  position: absolute;
  bottom: -34px;
  width: max-content;
  min-width: 80px;
  max-width: 120px;
  margin-top: 4px;
  padding: 4px;
  text-align: center;
  background-color: white;
  border-radius: 4px;
}
